.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 24px;
    padding-bottom: 24px;
    border-radius: $border-radius;
}

.card {
    display: flex;
    width: 100%;
    max-width: 345px;
    margin: 0 $gutter / 2 $gutter;
    border-radius: $border-radius;
    background-color: #fff;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    overflow: hidden;
    min-height: 80px;
    max-height: 80px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.2s linear;

    &:focus,
    &:hover {
        background-color: #e0e0e0;
    }

    &__picture {
        max-width: 100%;
        max-height: 80px;
    }

    &__body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 10px $gutter;
    }

    &__name,
    &__username {
        color: #000;
    }

    &__name {
        font-size: 17px;
        font-weight: bold;
        text-transform: capitalize;
    }

    &__username {
        font-size: 13px;
        margin-top: $gutter / 5;
    }
}
