.form {
    &__label {
        display: block;
    }

    &__input {
        border: 1px solid #b7b7b7;
        background-color: #ffffff;
        padding: $gutter / 1.5;
        border-radius: $border-radius;

        &:focus {
            border-color: $second-color;
        }
    }

    &__button {
        border: 1px solid transparent;
        border-radius: $border-radius;
        padding: 10px;
        white-space: nowrap;
        text-decoration: none;
        background-color: $second-color;
        color: #ffffff;
        cursor: pointer;

        &:active {
            background-color: darken($second-color, 20%);
        }
    }

    &__input,
    &__button {
        &:focus {
            outline: none;
        }
    }
}
